# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Upload archives
*.zip
*.rar
*.7z

# Large project archives
structure.zip

# Logs
*.log