<div class="sidebar bg-dark text-white">

    <div class="text-center py-4 border-bottom">

        <h3>
            <i class="fas fa-globe-africa"></i>
        </h3>

        <h5>Apex CMS</h5>

    </div>

    <ul class="nav flex-column mt-3">

        <li class="nav-item">
            <a class="nav-link text-white"
               href="{{ url_for('admin.dashboard') }}">
                <i class="fas fa-home me-2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white"
               href="{{ url_for('news.index') }}">
                <i class="fas fa-newspaper me-2"></i>
                News
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-images me-2"></i>
                Gallery
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-sliders-h me-2"></i>
                Hero Slider
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-users me-2"></i>
                Members
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <i class="fas fa-envelope me-2"></i>
                Messages
            </a>
        </li>

    </ul>

</div>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('gallery.index') }}">
        <i class="fas fa-image"></i>
        Gallery
    </a>
</li>