# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask instance
instance/

# Uploaded files
app/static/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db