{% extends "admin/layouts/_form_layout.html" %}

{% block form_content %}

<div class="row">

    <div class="col-md-8">

        <!-- Title -->

    </div>

    <div class="col-md-4">

        <!-- Featured -->

    </div>

</div>

<div class="row mt-3">

    <div class="col-md-6">

        <!-- Start Date -->

    </div>

    <div class="col-md-6">

        <!-- End Date -->

    </div>

</div>

<div class="row mt-3">

    <div class="col-md-6">

        <!-- Start Time -->

    </div>

    <div class="col-md-6">

        <!-- End Time -->

    </div>

</div>

<!-- etc... -->

{% endblock %}